# This is a sample .env file for use in local development.
# Duplicate this file as .env here

# Your private key
TESTNET_PRIVKEY=xyzxyz

# Hosted aggregator node (JSON-RPC Endpoint); Arbitrum Goerli testnet
L2RPC=https://goerli-rollup.arbitrum.io/rpc

# Goerli RPC: 
L1RPC=https://goerli.infura.io/v3/<your_infura_key>